@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: #000000;
  color: #fff;
  height: 40px;
}
.brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
}
.brand__title {
  padding-left: 5px;
  font-family: Spartan;
}

.container {
  display: flex;
  height: calc(100vh - 40px);
}

.preview {
  width: 50%;
  background: #fff;
  padding: 0 15px;
}
.editor {
  width: 50%;
  background: gray;
  line-height: 16px;
  font-size: 16px;
  display: flex;
}

.editor__gutter {
  background-color: #222831;
  border-right: 2px solid gold;
  color: #fff;
  width: 25px;
  text-align: center;
  font-size: 10px;
}
.editor__gutter--cell {
  color: #fafafa;
  height: 15px;
}

.editor__content,
.editor__content textarea {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #222831;
}
.editor__content {
  padding-left: 10px;
}

textarea {
  /* caret-color: red; */
  color: #fff;
  resize: none;
  white-space: nowrap;
}
textarea:focus {
  outline: none;
  /* border: 1px solid red; */
}

.markdown-body .highlight pre,
.markdown-body pre {
  border-radius: 10px;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: 1px solid gold;
}
